*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: aliceblue;
}

#header{
    width: 100%;
    background-color: #051650;
    background-size: contain;
    background-position:center;
    font-weight: bold; 
}

.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(80%, -80%);
    background-color: #fff;
    padding: 20px;
    border: 5px solid #000;
    z-index: 1000;
    color: #000;
}

li:hover .popup {
    display: block;
}

.container{
    padding: 0px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 130px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7sec;
}
nav ul li a:hover::after{
    width: 100%;
}

/* ----- MAPS ----- */
.image-container img {
    display: flexbox;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
}

.popup-text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none; /* Initially hidden */
}

.image-container:hover .popup-text {
    display: block;
}

.top-left {
    top: 20%;
    left: 10%;
    transform: translate(-10%, -10%);
}

.top-right {
    top: 25%;
    left: 84%;
    transform: translate(-10%, -10%);
}

.bottom-left {
    top: 100%;
    left: 45%;
    transform: translate(-10%, -10%);
}

.middle-right {
    top: 95%;
    left: 64%;
    transform: translate(-10%, -10%);
}

.bottom-right {
    top: 74%;
    left: 20%;
    transform: translate(-10%, -10%);
}

/* ----- attractions -----*/
#attractions{
    padding: 10px 0;
}
.attraction-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
    width: 100%;
}

.attraction img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    display: block;
}

div.attraction img:hover {
    border: 2px solid white;
    transform: scale(1.05);
}

.attraction-title{
    padding: 10px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
.kkname {
    font-size: 45px;
    color: #ffFf00;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}
.mwname {
    font-size: 45px;
    color: #ffFf00;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}
.jsname {
    font-size: 45px;
    color: #ffFf00;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}

/*------ Parking ------*/
#parking {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parking-information {
    text-align: center;
    font-size: 50px;
}

.parking-image {
    margin-left: 10%;
    margin-top: 20px;
    width: 30%;
    height: auto;
    float: left;
}

.parking-rates h2{
    font-size: 30px;
}

.parking-rates{
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
}

.payment h2{
    font-size: 30px;
}

.payment {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

/*------ Privacy Policy ------*/
#Privacy {
    font-weight: bold;
    margin-top: 20px;
}
.privacyP{
    font-size: 50px;
    text-align: center;
}
.descriptionPP{
    font-size: 18px;
    margin: 20px 100px;
    text-align: center;
}

/*------ Terms of Service ------*/
#TOS {
    font-weight: bold;
    margin-top: 20px;
}
.termsOS{
    font-size: 50px;
    text-align: center;
}
.descriptionTOS{
    font-size: 18px;
    margin: 20px 100px;
    text-align: center;
}

/*----- Footer -----*/
#footer {
    box-sizing: border-box;
    background-color: #051650;
}

#footer .container {
    width: 100%;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1204px;
}

#footer .container .row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

#footer .container .row .panel-1 .row  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#footer .container .row .panel-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: -15px;
}
#footer .container > div h3{
    color:yellow;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    max-width: 250px; 
    margin: 10px; 
}

#footer .social-media img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.footer-section .newsletter input[type="email"] {
    width: 85%;
    padding: 5px;
    margin-bottom: 20px;
}

#footer .newsletter .submit-button {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0; 
    white-space: normal; 
    text-align: center; 
}

.trademark {
    font-size: 16px;
    width: 100%;
    max-width: 1204px;
    text-align: center;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a:visited, a:active {
    color: white;
}

